public/index.html
<!DOCTYPE !>
<html lang="ru">
  <head>
    <title>Sea Battle</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="css/MainCss.css"/>
  </head>
  <body>
    <div class="parent boat"></div>
    <div class="space">
      <div class="space__playerField">
        <div class="space__seaField"></div>
        <div class="popup">
          <div class="popup__content">
            <div class="popup__text">YOU WIN!!!</div>
            <div class="popup__score">score: <span>0</span></div>
            <button class="popup__btn">Restart</button>
          </div>
        </div>
      </div>
    </div>
    <footer></footer>
  </body>
  <script rel="script" src="script/jquery-1.11.1.min.js"></script>
  <script rel="script" src="script/polyfill.js"></script>
  <script rel="script" src="script/mainJS.js"></script>
</html>

source/index.pug
doctype !

html(lang="ru")
    head
        title Sea Battle
        meta( charset="UTF-8")
        meta( name="viewport" content="width=device-width, initial-scale=1.0")
        link( rel="stylesheet" href="css/MainCss.css")
    body
        .parent.boat
        .space
            .space__playerField
                .space__seaField
                .popup
                    .popup__content
                        .popup__text YOU WIN!!!
                        .popup__score score: 
                            span 0
                        button.popup__btn Restart

        footer

    script(rel="script" src="script/jquery-1.11.1.min.js")
    script(rel="script" src="script/polyfill.js")
    script(rel="script" src="script/mainJS.js")
